body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  color: hsl(236, 100%, 87%);
}

.section {
  padding: 80px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* overlap */
.overlap {
  z-index: 1;
}

/* user section */

.user-wrapper {
  width: 220px;
}

.user-top {
  position: relative;
  background-color: hsl(246, 80%, 60%);
  height: 325px;
  border-radius: 15px;
}

.user-bottom {
  position: relative;
  bottom: 25px;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  border-radius: 15px;
}

.img-section {
  margin: 20px 0;
  width: 75px;
}

.profile-img {
  width: inherit;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  color: white;
  font-weight: 300;
}

.user-name {
  font-size: 36px;
}

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  top: 28px;
  padding: 20px 30px;
  color: hsl(235, 45%, 61%);
}